body{
  margin-left: 7px;
}
.bg-img {
   
    background-image: url("bg.jpg");
  
    background-position: center;
   width: 1500px;
  height: 500px;
    position: relative;
  }

  #logo{
    height: 50px;
    width:100px;
  }
  .nav:hover{
color: rgb(99, 228, 0);
  }
 #A{
    margin-right: 10px;
    color: azure;
 }
 #M{
    margin-right: 10px;  
    color: azure;
 }
 #P{
    margin-right: 10px;
    color: azure;
 }
#Nature{
    color: white;
    font-family: Times ;
    font-weight: bolder;
    font-size: 70px;
}
.services{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
#Hé{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  }
.photo{
  margin: none;
  padding: none;
  height: 500px;
  width: 300px;
}
.price-tag{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price-tag{
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(99, 228, 0);
}
.butt{
  border-radius: 90px;
  padding: 10px;
  background: rgb(99, 228, 0);
  color:white;
  border: none;
  cursor: pointer
  
}
.butt:hover{
  background-color: white;
  border: solid;
  border-color: greenyellow ;
  color: greenyellow;
}
#Hà{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  }
  .imgs{
    width: 600px;
    height: 500px;
    display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2,300px);
  justify-content: center;
  align-content: end;
  }
  .imgss{
    width: 450px;
    height: 500px;
    display: inline;
  }
 