.github-but{
    background-color: rgb(46, 164, 79);
    font-size: bOLDER;
    font-weight: bolder;
    color: white;
    border: none;
    padding: 10px 13px 11px 13px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: box-shadow 0.2s;
}
.github-but:hover{
 box-shadow: 4px 5px 4px rgba(0,0 , 0, 0.2);
}
.github-but:active{
      background-color: rgb(46, 164, 79);
    font-size: bOLDER;
    font-weight: bolder;
    color: white;
    border: none;
    height: 36px;
    width: 75px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: none;
    margin-top: 4px;
}
#get{
background-color: rgb(121, 82, 179);
color: white;
border: none;
border-radius: 4px;
padding: 11px ;
font-size: bold;
font-weight: bold;
margin-right: 4px ;
cursor: pointer;
transition: background-color 0.15s, padding 1.5s;
vertical-align: top;
margin-left: 10px;
}
#get:hover{
    background-color: rgb(79, 14, 140);
     padding: 30px;
}
#Download{
  background-color: white ;
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125) ;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 11px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, padding-left 1.5s, padding-right 1.5s;
  vertical-align: top;
}
#Download:hover{
    background-color:rgb(108, 117, 125) ;
    color: white; 
    padding-left: 20px;
    padding-right: 20px;
}